@import "/../../../assets/themes/variable";

.circle-button {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  margin: 1em;

  &__icon {
    height: 60%;
    width: auto;
  }

  &--primary {
    background-color: $BLUE-PRIMARY;
  }

  &--secondary {
    background-color: $GRAY-MEDIUM;
  }
}
