@import "./../../../assets/themes/variable";

.text-field {
  display: flex;
  flex-direction: column;

  &--tiny {
    width: 170px;
  }

  &--small {
    width: 270px;
  }

  &--medium {
    width: 370px;
  }

  &--large {
    width: auto;
  }

  &__label {
    margin: 0 0 0.3em 1.5em;
  }

  &__input,
  input {
    border-radius: 10px;
    border: 1.5px solid $GRAY-DARK;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 1em 2em 1em;
    font-family: URWGeometricSemiBold, sans-serif;
    font-size: 18px;
    color: #142542;

  }

  input:focus {
    border: 1.5px solid $BLUE-PRIMARY;
    outline-width: 0;
  }

  input:read-only {
    border: 1.5px solid $GRAY-MEDIUM;
    outline-width: 0;
  }
}
