<app-header></app-header>
<div class="form">
  <div class="form__card">
    <!--<h2>Willkommen beim [Software-Titel]!</h2>
    <div class="form__card__circle">
      <img class="form__card__circle__icon" src="assets/icons/tax.svg">
    </div>
    <p class="form__card__text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor  invidunt ut labore.
    </p>
    <app-default-button [buttonClass]="'button button&#45;&#45;primary'" [buttonText]="'Starten'"></app-default-button>-->
    <app-stepper></app-stepper>
  </div>
</div>
<app-footer></app-footer>
