<app-header></app-header>

<app-section-bar></app-section-bar>

<app-text-field></app-text-field>

<app-dropdown-field></app-dropdown-field>

<div style="background-color: #84A0BA">

  <h1>
    H1 Logo
  </h1>

  <h2>
    H2 Headline
  </h2>

  <h3>
    H3 Element Headline
  </h3>

  <p>
    P Text
  </p>

  <label>
    Label Text
  </label>

  <h4>
    H4 Button
  </h4>

</div>

<div>

  <app-button [buttonClass]="btnCls" [buttonText]="btnTxt"></app-button>

  <input [(ngModel)]="btnTxt" type="text" placeholder="change Button Text">

  <input
    [(ngModel)]="btnCls"
    type="radio"
    id="primary"
    value="button button--primary"
  >
  <label for="primary">Primary</label>
  <input
    [(ngModel)]="btnCls"
    type="radio"
    id="secondary"
    value="button button--secondary"
  >
  <label for="secondary">Secondary</label><br>

</div>

<div>
  <app-toggle-button></app-toggle-button>
</div>

<div>
  <app-icon-button
    [iconButtonClass]="'icon-button__button icon-button__button--primary'"
    [iconButtonImg]="'assets/icons/car.svg'"
  ></app-icon-button>
  <app-icon-button
    [iconButtonClass]="'icon-button__button icon-button__button--primary'"
    [iconButtonImg]="'assets/icons/bike.svg'"
  ></app-icon-button>
</div>

<div>
  <app-circle-button
    [circleButtonClass]="'circle-button circle-button--primary'"
    [circleButtonImg]="'assets/icons/plus.svg'"
  ></app-circle-button>
  <app-circle-button
    [circleButtonClass]="'circle-button circle-button--primary'"
    [circleButtonImg]="'assets/icons/arrow_right.svg'"
  ></app-circle-button>
</div>

<app-footer></app-footer>



