<div style="background-color: #84A0BA">

  <h1>
    H1 Logo
  </h1>

  <h2>
    H2 Headline
  </h2>

  <p>
    P Text
  </p>

  <label>
    Label Text
  </label>

  <h3>
    H3 Button
  </h3>

</div>

<app-button [buttonClass]="btnCls" [buttonText]="btnTxt"></app-button>

<input [(ngModel)]="btnTxt" type="text" placeholder="change Button Text">

<input
  [(ngModel)]="btnCls"
  type="radio"
  id="primary"
  value="button button--primary"
>
<label for="primary">Primary</label>
<input
  [(ngModel)]="btnCls"
  type="radio"
  id="secondary"
  value="button button--secondary"
>
<label for="secondary">Secondary</label><br>



