<form class="form" #formFive="ngForm" [formGroup]="step">
  <div class="form__line"></div>
  <div class="form__header">
    <div class="form__header__headline">
      <h2>ARBEITSKLEIDUNG</h2>
    </div>
    <div class="form__header__help">
      <app-help-button
        [helpButtonClass]="'help-button help-button--primary'"
        [helpButtonTooltip]="'Wenn Sie bei ihrer Arbeit bestimmte Arbeitskleidung benötigen,' +
        ' dann geben Sie hier an, ob und welche Ausgaben Sie dafür getätigt haben.'"
      ></app-help-button>
    </div>
  </div>
  <div class="form__field">
    <app-toggle-button
      [toggleButtonLabel]="'Benötigen Sie Arbeitskleidung?'"
      (change)="toggle()"
    ></app-toggle-button>
  </div>
  <div *ngIf="showMoreOptions">
    <app-seperator></app-seperator>
    <div class="form__field">
      <app-toggle-button
        [toggleButtonLabel]="'Haben Sie neue Arbeitskleidung gekauft?'"
        (click)="showPurchasedClothing=true"
      ></app-toggle-button>
    </div>
  </div>
  <div *ngIf="showPurchasedClothing" class="form__field">
    <p class="form__field__text">3er Pack weiße T-Shirts</p>
    <p class="form__field__text">50er Pack FFP2 Mund-Nasen-Masken</p>
    <p class="form__field__text">69,99€</p>
  </div>
  <div class="form__buttons">
    <button mat-button matStepperPrevious>< Zurück</button>
    <button mat-button matStepperNext>Zur Überprüfung ></button>
    <!--<button mat-button matStepperNext type="submit" [disabled]="formTwo.form.invalid">Weiter ></button>-->
  </div>
</form>
