<form class="form" #formOne="ngForm" [formGroup]="step">
  <div class="form__line"></div>
  <div class="form__header">
    <div class="form__header__headline">
      <h2>ALLGEMEINES</h2>
    </div>
    <div class="form__header__help">
      <app-help-button
        [helpButtonClass]="'help-button help-button--primary'"
        [helpButtonTooltip]="'Geben Sie hier die Daten zu ihrer Person und ihrem Beruf an.'"
      ></app-help-button>
    </div>
  </div>
  <div class="form__field">
    <app-fieldset-headline
      [fieldsetHeadlineText]="'Persönliche Informationen'"
    >
    </app-fieldset-headline>
    <div class="form__field__row">
      <app-text-field
        [textFieldLabel]="'Name'"
        [textFieldClass]="'text-field text-field--small'"
        [textFieldControl]="'firstName'"
        [textFieldReadonly]="false"
        [textFieldParentForm]="step"
      ></app-text-field>
      <app-text-field
        [textFieldLabel]="'Nachname'"
        [textFieldClass]="'text-field text-field--small'"
        [textFieldControl]="'lastName'"
        [textFieldReadonly]="false"
        [textFieldParentForm]="step"
      ></app-text-field>
    </div>
    <app-dropdown-field
      [dropdownFieldLabel]="'Steuerklasse'"
      [dropdownFieldControl]="'taxClass'"
      [dropdownFieldValues]="['Klasse 1 (ledig)', 'Klasse 2 (alleinerziehend)',
      'Klasse 3 (Verheiratet: höheres Einkommen)', 'Klasse 4 (Verheiratet: gleiches Einkommen)',
      'Klasse 5 (Verheiratet: geringeres Einkommen)', 'Klasse 6 (Zweit- und Nebenjob)']"
      [dropdownFieldParentForm]="step"
    ></app-dropdown-field>
    <app-text-field
      [textFieldLabel]="'Steuernummer'"
      [textFieldClass]="'text-field text-field--large'"
      [textFieldControl]="'taxNr'"
      [textFieldReadonly]="false"
      [textFieldParentForm]="step"
    ></app-text-field>
  </div>
  <div class="form__field">
    <app-fieldset-headline
      [fieldsetHeadlineText]="'Adresse'"
    >
    </app-fieldset-headline>
    <div class="form__field__row">
      <app-text-field
        [textFieldLabel]="'Straße'"
        [textFieldClass]="'text-field text-field--medium'"
        [textFieldControl]="'street'"
        [textFieldReadonly]="false"
        [textFieldParentForm]="step"
      ></app-text-field>
      <app-text-field
        [textFieldLabel]="'Hausnummer'"
        [textFieldClass]="'text-field text-field--tiny'"
        [textFieldControl]="'houseNr'"
        [textFieldReadonly]="false"
        [textFieldParentForm]="step"
      ></app-text-field>
    </div>
    <div class="form__field__row">
      <app-text-field
        [textFieldLabel]="'PLZ'"
        [textFieldClass]="'text-field text-field--tiny'"
        [textFieldControl]="'plz'"
        [textFieldReadonly]="false"
        [textFieldParentForm]="step"
      ></app-text-field>
      <app-text-field
        [textFieldLabel]="'Ort'"
        [textFieldClass]="'text-field text-field--medium'"
        [textFieldControl]="'place'"
        [textFieldReadonly]="false"
        [textFieldParentForm]="step"
      ></app-text-field>
    </div>
  </div>
  <div class="form__field">
    <app-fieldset-headline
      [fieldsetHeadlineText]="'Informationen zum Beruf'"
    >
    </app-fieldset-headline>
    <app-dropdown-field
      [dropdownFieldLabel]="'Branche'"
      [dropdownFieldControl]="'branch'"
      [dropdownFieldValues]="['Gesundheit und Sozialwesen', 'Finanzen und Versicherungen',
       'Handel und Dienstleistungen', 'Industrie, Handwerk und Gewerbe',
       'Information und Kommunikation', 'Transport', 'Sonstiges']"
      [dropdownFieldParentForm]="step"
    ></app-dropdown-field>
    <app-dropdown-field
      [dropdownFieldLabel]="'Beschäftigt als'"
      [dropdownFieldControl]="'employment'"
      [dropdownFieldValues]="['Arbeiter(in)', 'Beamter/Beamtin', 'Pensionist/in',
       'Selbstständige(r)', 'Angestellte(r)', 'Angestellte(r) im öffentl. Dienst', 'Sonstiges']"
      [dropdownFieldParentForm]="step"
    ></app-dropdown-field>
  </div>
  <div class="form__buttons">
    <button mat-button matStepperNext>Weiter ></button>
    <!--<button mat-button matStepperNext type="submit" [disabled]="formOne.form.invalid">Weiter ></button>-->
  </div>
</form>
