<form [formGroup]="buildingKit" class="building-kit">

  <ng-container cdkDropListGroup>

    <div class="container building-kit__elements">
      <h2 class="building-kit__headline">Elemente:</h2>

      <div
        cdkDropList
        #sidebarList="cdkDropList"
        [cdkDropListData]="sidebar"
        cdkDropListConnectedTo="[mainList]"
        class="list building-kit__list"
        (cdkDropListDropped)="drop($event)"
      >

        <div class="box building-kit__list__box" cdkDrag>
          <app-fieldset-headline
            [fieldsetHeadlineText]="'Headline'"
            cdkDrag
          ></app-fieldset-headline>
        </div>

        <div class="box building-kit__list__box" cdkDrag>
          <app-text-field
            [textFieldLabel]="'Name'"
            [textFieldClass]="'text-field text-field--small'"
            [textFieldControl]="'txtField'"
            [textFieldReadonly]="false"
            [textFieldParentForm]="buildingKit"
          ></app-text-field>
        </div>

        <div class="box building-kit__list__box" cdkDrag>
          <app-dropdown-field
            [dropdownFieldLabel]="'Label'"
            [dropdownFieldControl]="'ddField'"
            [dropdownFieldValues]="['1', '2', '3', '4', '5', '6']"
            [dropdownFieldParentForm]="buildingKit"
          ></app-dropdown-field>
        </div>


      </div>

    </div>


    <div class="container building-kit__form">
      <h2 class="building-kit__headline">Formular:</h2>

      <div
        cdkDropList
        #mainList="cdkDropList"
        [cdkDropListData]="main"
        cdkDropListConnectedTo="[sidebarList]"
        class="list building-kit__list"
        (cdkDropListDropped)="drop($event)"
      >

      </div>

    </div>

  </ng-container>

</form>
