<form [formGroup]="buildingKit" class="building-kit">

  <div class="building-kit__editor">
    <div class="building-kit__header">
      <div class="building-kit__header__headline">
        <h2>Element Editor:</h2>
      </div>
      <div class="building-kit__header__help">
        <app-help-button
          [helpButtonClass]="'help-button help-button--editor'"
          [helpButtonTooltip]="'Im Editor können Sie die Texte und weitere Merkmale' +
          ' ihrer Formular-Elemente anpassen.'"
        ></app-help-button>
      </div>
    </div>
    <form [formGroup]="editor">

      <div class="building-kit__editor__field">
        <label
          class="building-kit__editor__field__label"
          for="hl1Txt">
          Text für Headline 1
        </label>
        <input [(ngModel)]="headline1Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="hl1Txt"
               formControlName="hl1Txt"
        >
      </div>

      <div class="building-kit__editor__field">
        <label
          class="building-kit__editor__field__label"
          for="txF1Txt">
          Label für Input 1
        </label>
        <input [(ngModel)]="textField1Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="txF1Txt"
               formControlName="txF1Txt"
        >
        <div class="building-kit__editor__field__radio">
          <input
            [(ngModel)]="textField1Cls"
            type="radio"
            id="tiny"
            name="txF1Rd"
            formControlName="txF1Rd"
            value="text-field text-field--tiny"
          >
          <label for="tiny">Klein</label>
          <input
            [(ngModel)]="textField1Cls"
            type="radio"
            id="small"
            name="txF1Rd"
            formControlName="txF1Rd"
            value="text-field text-field--small"
          >
          <label for="small">Mittel</label>
          <input
            [(ngModel)]="textField1Cls"
            type="radio"
            id="medium"
            name="txF1Rd"
            formControlName="txF1Rd"
            value="text-field text-field--medium"
          >
          <label for="medium">Groß</label>
        </div>
      </div>

      <div class="building-kit__editor__field">
        <label
          class="building-kit__editor__field__label"
          for="ddF1Txt">
          Label für Dropdown 1
        </label>
        <input [(ngModel)]="dropdownField1Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="ddF1Txt"
               formControlName="ddF1Txt"
        >
        <label
          class="building-kit__editor__field__label"
          for="ddF1Vls">
          Werte für Dropdown 1
        </label>
        <input (change)="dropdownValuesChanged()"
               [(ngModel)]="dropdownField1Vls"
               class="building-kit__editor__field__input"
               type="text"
               id="ddF1Vls"
               formControlName="ddF1Vls"
        >
      </div>

      <div class="building-kit__editor__field">
        <label
          class="building-kit__editor__field__label"
          for="tb1Txt">
          Text für Toggle-Button 1
        </label>
        <input [(ngModel)]="toggleButton1Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="tb1Txt"
               formControlName="tb1Txt"
        >
      </div>

      <div class="building-kit__editor__field">
        <label
          class="building-kit__editor__field__label"
          for="cb1Txt">
          Text für Checkbox 1
        </label>
        <input [(ngModel)]="checkbox1Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="cb1Txt"
               formControlName="cb1Txt"
        >
        <label
          class="building-kit__editor__field__label"
          for="cb2Txt">
          Text für Checkbox 2
        </label>
        <input [(ngModel)]="checkbox2Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="cb2Txt"
               formControlName="cb2Txt"
        >
        <label
          class="building-kit__editor__field__label"
          for="cb3Txt">
          Text für Checkbox 3
        </label>
        <input [(ngModel)]="checkbox3Txt"
               class="building-kit__editor__field__input"
               type="text"
               id="cb3Txt"
               formControlName="cb3Txt"
        >
      </div>
    </form>
  </div>

  <ng-container cdkDropListGroup>

    <div class="container building-kit__elements">
      <div class="building-kit__header">
        <div class="building-kit__header__headline">
          <h2>Elemente:</h2>
        </div>
        <div class="building-kit__header__help">
          <app-help-button
            [helpButtonClass]="'help-button help-button--editor'"
            [helpButtonTooltip]="'Hier befinden sich die verschiedenen Elemente die sie' +
            ' verwenden können. Ziehen Sie diese einfach zum Feld `Formular:` um sie diesem hinzuzufügen.'"
          ></app-help-button>
        </div>
      </div>

      <div
        cdkDropList
        #sidebarList="cdkDropList"
        [cdkDropListData]="sidebar"
        cdkDropListConnectedTo="[mainList]"
        class="list building-kit__elements__list"
        (cdkDropListDropped)="drop($event)"
      >

        <div class="box building-kit__elements__list__box" cdkDrag>
          <app-fieldset-headline
            [fieldsetHeadlineText]="headline1Txt"
            cdkDrag
          ></app-fieldset-headline>
        </div>

        <div class="box building-kit__elements__list__box" cdkDrag>
          <app-text-field
            [textFieldLabel]="textField1Txt"
            [textFieldClass]="textField1Cls"
            [textFieldControl]="'txtField'"
            [textFieldReadonly]="false"
            [textFieldParentForm]="buildingKit"
          ></app-text-field>
        </div>

        <div class="box building-kit__elements__list__box" cdkDrag>
          <app-dropdown-field
            [dropdownFieldLabel]="dropdownField1Txt"
            [dropdownFieldControl]="'ddField'"
            [dropdownFieldValues]="dropdownField1Vls"
            [dropdownFieldParentForm]="buildingKit"
          ></app-dropdown-field>
        </div>

        <div class="box building-kit__elements__list__box" cdkDrag>
          <app-toggle-button
            [toggleButtonLabel]="toggleButton1Txt"
          ></app-toggle-button>
        </div>

        <div class="box building-kit__elements__list__box" cdkDrag>
          <app-checkbox-element
            [checkboxElementId]="'cb1'"
            [checkboxElementLabelAndValue]="checkbox1Txt"
            [checkboxElementImg]="'assets/icons/computer.svg'"
          ></app-checkbox-element>
          <app-checkbox-element
            [checkboxElementId]="'cb2'"
            [checkboxElementLabelAndValue]="checkbox2Txt"
            [checkboxElementImg]="'assets/icons/mouse.svg'"
          ></app-checkbox-element>
          <app-checkbox-element
            [checkboxElementId]="'cb3'"
            [checkboxElementLabelAndValue]="checkbox3Txt"
            [checkboxElementImg]="'assets/icons/office_chair.svg'"
          ></app-checkbox-element>
        </div>

        <div class="box building-kit__elements__list__box" cdkDrag>
          <app-seperator></app-seperator>
        </div>

      </div>

    </div>


    <div class="container building-kit__form">
      <div class="building-kit__header">
        <div class="building-kit__header__headline">
          <h2>Formular:</h2>
        </div>
        <div class="building-kit__header__help">
          <app-help-button
            [helpButtonClass]="'help-button help-button--editor'"
            [helpButtonTooltip]="'Hier sehen Sie die Vorschau, wie das fertige Formular aussehen wird.'"
          ></app-help-button>
        </div>
      </div>

      <div
        cdkDropList
        #mainList="cdkDropList"
        [cdkDropListData]="main"
        cdkDropListConnectedTo="[sidebarList]"
        class="list building-kit__form__list"
        (cdkDropListDropped)="drop($event)"
      >

      </div>

    </div>

  </ng-container>

</form>
