$WHITE: #FFF;
$BLACK: #000;

$BLUE-PRIMARY: #0567FF;
$BLUE-SECONDARY: #0027A2;

$RED-ERROR: #DF400B;

$GRAY-DARK: #142542;
$GRAY-MEDIUM: #84A0BA;
$GRAY-LIGHT: #D5DEEC;

$BOX-SHADOW: rgba(0,0,0,.2);
$GRAY-PLACEHOLDER: rgba(20, 37, 66, .5);

