<app-header></app-header>
<div class="form">
  <div class="form__card">
    <h2>Willkommen zum <br> Werbungskosten-Tool!</h2>
    <div class="form__card__circle">
      <img class="form__card__circle__icon" src="assets/icons/tax.svg">
    </div>
    <p class="form__card__text">
      Geben Sie ihre Daten an und berechnen Sie ganz einfach ihre Werbungskosten
      und wie viel sie davon steuerlich absetzen können.
    </p>
    <button mat-button [routerLink]="['/form']">Starten</button>
  </div>
</div>
<app-footer></app-footer>
