@import "/../../../assets/themes/variable";

button,
.button {
  cursor: pointer;
  border-radius: 15px;
  border: none;
  padding: 1em 2em 1em 2em;
  margin: 1em;

  &--primary {
    background-color: $BLUE-PRIMARY;
  }

  &--secondary {
    background-color: $GRAY-MEDIUM;
  }
}
