<mat-horizontal-stepper [linear]=true #stepper>

  <mat-step [stepControl]="'stepOne'">
    <app-step-one></app-step-one>
  </mat-step>

  <mat-step [stepControl]="'stepTwo'">
    <app-step-two></app-step-two>
  </mat-step>

  <mat-step [stepControl]="'stepThree'">
    <app-step-three></app-step-three>
  </mat-step>

  <mat-step [stepControl]="'stepFour'">
    <app-step-four></app-step-four>
  </mat-step>

  <mat-step [stepControl]="'stepFive'">
    <app-step-five></app-step-five>
  </mat-step>

</mat-horizontal-stepper>
