@import "/../../../assets/themes/variable";

.section-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__circle {
      background-color: $GRAY-MEDIUM;
      display: flex;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: none;
      margin: 1em 0.7em 1em 0.7em;
      text-align: center;
      align-items: center;
      justify-content: center;

      &__font {
        font-family: URWGeometricBold, sans-serif;
        font-size: 25px;
        color: $WHITE;
        margin-top: 0.3em;
      }

      &--active {
        background-color: $BLUE-PRIMARY;
      }
    }

    &__line {
      background-color: $GRAY-MEDIUM;
      width: 50px;
      height: 4px;
      border-radius: 4px;
    }
  }

  &__end-line {
    background-color: $GRAY-LIGHT;
    width: auto;
    height: 6px;
    border-radius: 6px;
    margin: 1em 0 2em 0;
  }

}

