<div class="section-bar">
  <div class="section-bar__elements">
    <div class="section-bar__elements__circle section-bar__elements__circle--active">
      <span class="section-bar__elements__circle__font icon-font">1</span>
    </div>
    <div class="section-bar__elements__line"></div>
    <div class="section-bar__elements__circle">
      <span class="section-bar__elements__circle__font icon-font">2</span>
    </div>
    <div class="section-bar__elements__line"></div>
    <div class="section-bar__elements__circle">
      <span class="section-bar__elements__circle__font icon-font">3</span>
    </div>
    <div class="section-bar__elements__line"></div>
    <div class="section-bar__elements__circle">
      <span class="section-bar__elements__circle__font icon-font">4</span>
    </div>
    <div class="section-bar__elements__line"></div>
    <div class="section-bar__elements__circle">
      <span class="section-bar__elements__circle__font icon-font">5</span>
    </div>
  </div>
  <div class="section-bar__end-line"></div>
</div>

