@import "/../../../assets/themes/variable";

.icon-button {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  &__button {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 100px;
    margin: 0 1em 1em 1em;

    &--primary {
      background-color: $BLUE-PRIMARY;
    }

    &--secondary {
      background-color: $GRAY-MEDIUM;
    }
  }

  &__icon {
    height: 90%;
    width: 90%;
  }

  &__label {
    margin: 0 0 0.3em 1.3em;
  }
}
